<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.sleepydragon.quepasa.ui"
    >

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/qp_app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/QpAppTheme"
        >

        <activity
            android:name=".ToolsActivity"
            android:enabled="false"
            />

    </application>

</manifest>
